{% extends "base.html" %}

{% block content %}
<div>
  <p>Dear Humanitarian Coordinator, dear colleagues,</p>
  <p>
    The riverine flooding action trigger of the OCHA coordinated anticipatory action framework for floods in Adamawa State, Nigeria has been reached: at least {{ min_gauges }} of the 10 monitored Google Flood Hub gauges along the Benue River forecast streamflow above their individual 4-year return period thresholds on the same day, in line with forecasts issued on {{ pub_date }}.
  </p>
  <p>
    <!-- TODO: link the 2026 framework document once published -->
    All activities in line with the 2026 framework document should now commence. OCHA may convene a meeting of the participating partners.
  </p>

  <p>Best wishes and good luck,</p>
  <p>OCHA Centre for Humanitarian Data</p>
</div>
{% endblock content %}
