<div style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#222;">
  <h1 style="font-weight:normal;">Nigeria: Flood Monitoring</h1>
  <div style="font-size:11px;padding: 6px 10px 6px 10px;background-color:#F0F0F0;color:#000000;font-style:italic">
    <p style="margin:0;">
      This is an automated email produced for monitoring the Nigeria Anticipatory Action framework for 2026.
      {{ cadence_note or "Email updates are sent weekly on Mondays, or in the event that the readiness or action trigger is met." }}
    </p>
  </div>
  <h2 style="font-weight:normal;">{{ trigger_status }} - {{ pub_date }}</h2>
  {% block content %} {% endblock content %}
  <hr>
  <p style="font-size:12px;color:#555;">
    Contact the OCHA Centre for Humanitarian Data via Hannah Ker, focal point for Nigeria Anticipatory Action at <a href="mailto:hannah.ker@un.org">hannah.ker@un.org</a> with any questions or feedback for this email notification system.
    Reach out to Yakoubou Mounkara Oumarou, at <a href="mailto:mounkara@un.org">mounkara@un.org</a> if you wish to be added or removed from this email system.
  </p>
</div>
